---
/*
 data.map((card)=>(
          <Card 
          link={"/cards/"+card.id}
          image={`/thumbs/${card.image}`}
          navn={card.navn}
          date={card.date}
          time={card.time}
          scene={card.scene}
          host={card.host}/>
        ))
*/
const { link, image, name, date, time, scene, host, description } = Astro.props;
console.log(Astro.props);
---

<a href={link}>
  <section class="card">
    <div class="img_container">
      <img src={image} class="card_image" alt="" />
      <img src="/images/favorite.png" class="favorite_img" alt="" />
      <div class="overlay_container">
        <div class="overlay_content">
          <p class="text_white">{description}</p>
          <div class="favorite_container">
            <p class="add_program">Add to 'My Program'</p>
            <img src="/images/favorite_pink.png" class="favorite_pink" alt="" />
          </div>
        </div>
      </div>
    </div>
    <div class="card_copy">
      <p class="bold">{name}</p>
      <p>{host}</p>
      <p class="time">{time}</p>
    </div>
  </section>
</a>

<style>
  /* ----- billede i card ------ */

  .img_container {
    position: relative;
    height: 300px;
    margin: 0px;
  }

  .card_image {
    width: 100%;
    margin: 0px;
  }

  .text_overlay {
    position: absolute;
    text-align: center;
  }

  .text_white {
    color: white;
    font-weight: 800;
  }

  .overlay_container {
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    background: rgba(38, 61, 61, 0.4);
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    opacity: 0;
    transition: opacity 0.25s;
  }

  .overlay_container:hover {
    opacity: 1;
  }

  /* ------ favorite container ----*/

  .favorite_img {
    position: absolute;
    top: 87%;
    right: 4%;
    width: 12%;
  }

  .favorite_pink {
    position: absolute;
    top: 87%;
    right: 4%;
    width: 12%;
  }

  .favorite_overlay {
    position: absolute;
    display: flex;
    justify-content: center;
    opacity: 0;
  }

  .favorite_overlay:hover {
    opacity: 1;
  }

  .add_program {
    position: absolute;
    text-align: center;
    color: white;
    top: 87%;
  }

  /* ----- tekst under billede ----- */

  a {
    text-decoration: none;
  }

  p {
    margin: 2px;
    color: #56453a;
    font-family: "neuzeit-grotesk", sans-serif;
  }

  .bold {
    font-weight: 800;
  }

  .time {
    font-size: x-small;
  }

  .card {
    width: 223.55px;
  }

  .card_copy {
    margin: 0px;
    display: flex;
    flex-direction: column;
    text-align: center;
    background: #d5c0ac;
  }
  @media only screen and (max-width: 600px) {
    .card {
      width: 90%;
      margin-bottom: 7%;
    }
    .card_copy {
      margin-top: -27%;
    }
    .text_white {
      color: white;
      font-weight: 800;
      font-size: smaller;
      margin-top: -10%;
    }
    .overlay_container {
      height: 83%;
    }
    .favorite_img {
      position: absolute;
      top: 74%;
      right: 4%;
      width: 12%;
    }

    .favorite_pink {
      position: absolute;
      top: 89%;
      right: 4%;
      width: 12%;
    }
    .add_program {
      top: 89%;
    }
  }
</style>
