---

import MainLayout from "../../layouts/MainLayout.astro";
import Singleview from "../Singleview.astro";


export async function getStaticPaths(){
    const url = "https://toakybbeekybfigezlly.supabase.co/rest/v1/sakura_cards";
    const options = {
        headers:{
            apikey:"eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InRvYWt5YmJlZWt5YmZpZ2V6bGx5Iiwicm9sZSI6ImFub24iLCJpYXQiOjE2Nzg5NTUwOTYsImV4cCI6MTk5NDUzMTA5Nn0.wD3fDP1_HxiJ8_NslNAWXNYg0OhGtytUve_lcQP9tgI",
},};
const response = await fetch(url, options);
const data = await response.json();

return data.map((program)=> ({
    params: {slug: program.slug},
    props: {program},
}));
}



const {program} = Astro.props;
---
<main>
<h1>{program.name}</h1>
<p>{program.description}</p>
<img src={program.image} alt="image"/>
</main>
<MainLayout>
    <Singleview />
</MainLayout>